:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

body {
  margin: 0;
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.app {
  min-height: 100vh;
  padding-top: 30px;
}

.navbar {
    display: flex;
    justify-content: center;
    padding: 10px;
    background: #1f1f1f;
    border-radius: 15px;
    width: fit-content;
    margin: 30px auto;
    box-shadow: 0 10px 25px rgba(0,0,0,.3);
}

.navbar a{
    text-decoration: none;
    color: white;
    padding: 10px 25px;
    border-radius: 10px;
    font-weight: 600;
    transition: .3s;
}

.navbar a:hover{
    background: #939396;
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(255, 255, 255, 0.5);
}

.conteudo {
  text-align: center;
  padding: 10px;
}

.titulog {
    font-family:'Times New Roman', Times, serif;
    font-size: 4rem;
    font-weight: 800;
    background: linear-gradient(195deg, #ffffff, #3d3d3d);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 25px rgba(83, 83, 83, 0.2);
    margin-top: 60px;
}

.painel {
    font-family:'Times New Roman', Times, serif;
    font-size: 2rem;
    font-weight: 800;
    background: linear-gradient(120deg, #ffffff, #3d3d3d);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 25px rgba(83, 83, 83, 0.2);
    margin-top: 20px;
}

.subtitle{
  font-size: 1.2rem;
    color: #9ca3af;
    max-width: 650px;
    margin: 0 auto;
    line-height: 1.8;
    text-align: center;
}

.projetos {
  display: flex;
  justify-content: center;
  gap: 14px;
  margin-top: 22px;
  flex-wrap: wrap;
}

.projeto-card {
  text-decoration: none;
  color: #c8d7ff;
  background: linear-gradient(145deg, #1f1f24, #151519);
  padding: 12px 20px;
  border-radius: 12px;
  border: 1px solid #2d2d35;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.35);
  transition: 0.25s;
}

.projeto-card:hover {
  color: white;
  border-color: #2b2b2b;
  transform: translateY(-3px);
}

.projeto-card:active {
  transform: translateY(-1px);
}

.crud-container {
  width: min(720px, 90%);
  margin: 40px auto;
  padding: 24px;
  background: rgba(255, 255, 255, 0.04);
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 20px;
  box-shadow: 0 20px 50px rgba(0,0,0,0.25);
}

.crud-container h2 {
  margin-bottom: 20px;
  color: #b8c7e0;
}

.search-input,
.crud-form input {
  width: 100%;
  padding: 14px 10px;
  border-radius: 10px;
  border: 1px solid #444;
  background: #1f1f24;
  color: #fff;
  outline: none;
}

.search-input {
  margin-bottom: 14px;
}

.crud-form{
    display: flex;
    gap: 12px;
    align-items: center;
}

.crud-form input{
    flex: 1;
}

.crud-form button{
    width: 120px;
}

.crud-form button,
.user-actions button {
  padding: 10px 14px;
  border: none;
  border-radius: 10px;
  background:linear-gradient(145deg, #6c6c7a, #151519) ;
  color: white;
  font-weight: 700;
  cursor: pointer;
}

.user-list {
  list-style: none;
  padding: 0;
  display: grid;
  gap: 12px;
}

.user-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background: #1c1c22;
  border: 1px solid #333;
  border-radius: 14px;
}

.user-card strong {
  display: block;
  color: #c6d5ef;
}

.user-card span {
  color: #9ca9bd;
}

.user-card{
  transition: .25s ease;
}

.user-actions {
  display: flex;
  gap: 8px;
}

.user-actions button,
.crud-form button{
    transition: .2s;
}

.user-actions button:hover,
.crud-form button:hover{
    transform: scale(1.05);
}

input:focus{
    border-color:#919191;
    box-shadow:0 0 12px rgba(144, 144, 145, 0.4);
}

.user-actions button:last-child {
  background:linear-gradient(305deg,#424242,#ff4d4d) ;
}

.user-card:hover{
  transform: translateY(-4px);
  border-color: #ffffff;
  box-shadow: 0 10px 25px rgba(180, 180, 180, 0.25);
}

.contador{
    color:#ffffff;
    margin:15px 0;
}

.cep-card{
    width: 650px;
    margin: 50px auto;
    padding: 30px;

    background: #1f1f27;

    border: 1px solid #343448;
    border-radius: 20px;

    box-shadow: 0 15px 35px rgba(0,0,0,.35);

    animation: aparecer .4s ease;
}

.cep-card h1{
    text-align:center;
    margin-bottom:30px;

    color:#ffffff;
    font-size:2rem;
}

.cep-info{
    display:flex;
    flex-direction:column;
    gap:18px;
}

.cep-info p{
    padding:15px 20px;

    background:#16161d;

    border-left:5px solid #ffffff;

    border-radius:10px;

    color:white;
    font-size:18px;
}

.cep-info strong{
    color:#ffffff;
}

.cep-erro{
    color:#ff6868;
    text-align:center;
    font-weight:bold;
}

@keyframes aparecer{

    from{
        opacity:0;
        transform:translateY(15px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }

}

@media (max-width: 600px) {
  .crud-form {
    grid-template-columns: 1fr;
  }

  .user-card {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }
}

ul {
    list-style: none;
    padding: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}
